* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    background-color: black;
    width: 100%;
    padding: 20px;
    color: ghostwhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    margin-left: 200px;
}

.title-links a {
    color: white;
    text-decoration: none;
}

.button button{
    margin-right: 260px;
    background-color: darkcyan;
    color: ghostwhite;
    width: 100px;
    padding: 5px;
    font-size: 15px;
    border: 2px solid darkcyan;
    box-shadow: 2px 2px 10px 0 darkcyan;
}

.container {
    margin: 0 auto;
    width: 70%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.profile {
    width: 60%;
    /* border: 2px solid grey; */
}

.requests {
    /* border: 2px solid grey; */
    width: 30%;
    height: 300px;
}

.education {
    background-color: red;
    width: 60%;
    height: 300px;
}

.connections {
    background-color: red;
    width: 30%;
    height: 300px;
}

.ribbon {
    background-color: darkcyan;
    width: 100%;
    height: 60px;
}

.profile-info {
    /* margin-left: 20px   ; */
    width: 100%;
    border: 2px solid grey;
}

.user-photo {
    width: 15%;
    margin-left: 20px;
    margin-top: -45px;
    position: inherit;
}

.location {
    display: flex;
    margin: 10px 0;
}

.location img {
    width: 10px;
    margin-right: 10px;
}

.user-info {
    margin: 10px 0;
}

.gear-icon {
    width: 15px;
    margin-right: 10px;
}

.edit-profile {
    display: flex;
    align-items: center;
}

.request-ribbon {
    background-color: black;
    width: 100%;
    height: 60px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    justify-content: space-evenly;
}

.request-number {
    background-color: grey;
    border-radius: 50px;
    padding: 5px;
    width: 20px;
    color: white;
    font-size: large;
    text-align: center;
    /* margin: 0 20px; */
}

.request-box {
    border: 2px solid grey;
    width: 100%;
}